@model ApplicationUser

@{
    ViewBag.Title = "Add your data";
    Layout = "_Layout";
}

<h2>Add your data!</h2>

<form asp-controller="Auth" asp-action="AddData" method="post">
    <div class="form-group">
        <label asp-for="LicensePlate" >license plate:</label>
        <input asp-for="LicensePlate" class="form-control"/>
        <span asp-validation-for="LicensePlate" class="text-danger"></span>
    </div>
    
    
    <div class="form-group">
        <label asp-for="CarBrand" >car brand:</label>
        <input asp-for="CarBrand" class="form-control"/>
        <span asp-validation-for="CarBrand" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="CarModel" >car model: </label>
        <input asp-for="CarModel" class="form-control"/>
        <span asp-validation-for="CarModel" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="CarHorsepower" >car horsepower: </label>
        <input asp-for="CarHorsepower" class="form-control"/>
        <span asp-validation-for="CarHorsepower" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="submit" value="Add!" class="form-control"/>
    </div>
</form>


