﻿@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div>
        hello @UserManager.GetUserName(User)!
    </div>
}
else
{
    <div>
        hello not logged in user!
    </div>
}
