@model ApplicationUser

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="jumbotron login-form">
    <h2>Log in</h2>
    <h4>Please enter you account details to proceed to log in.</h4>
    <hr/>
    <form asp-action="login" asp-route="" asp-controller="Login" method="post">
        <div class="form-group">
            <label for="input_mail">Email</label>
            <input type="email" id="input_mail" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="input_pass">Password</label>
            <input type="password" id="input_pass" class="form-control"/>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label for="input_remember">
                    <input type="checkbox" id="input_remember"/>
                    Remember me?
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Log in</button>
        </div>
        <div class="form-group">
            <p>
                <a href="#">Forgot password?</a>
            </p>
            <p>
                <a href="#">Register as new user</a>
            </p>
        </div>
    </form>
</div>

