@model User

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<h2>Register</h2>

<form asp-controller="Register" asp-action="RegisterIndex" method="post">
    
    <div class="form-group">
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Iq">Iq:</label>
        <input asp-for="Iq" class="form-control"/>
        <span asp-validation-for="Iq" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Register" class="form-control"/>
    </div>
</form>